.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabBar{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-evenly;
}

.tabViewContainer{
    width: 100%;
    height: 100%;
}

.tabview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 15px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(54,35,107, 0.08);
}


.header{
    display: flex;
    align-items: center;
}

.headingSemester{
    flex-grow: 1;
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
}

@media (max-width:900px){
    .tabViewContainer{
        width: 100%;
        height: 100%;
    }
}