
.tab{
    border: 0.5px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    padding: 10px;
    margin: 25px 10px 5px 10px;
    user-select: none;
    transition-duration: 0.5s;
}
.tab:hover{
    transition-duration: 0.5s;
    box-shadow: 5px 5px 8px grey;
    cursor: pointer;
}

.active{
    border: 1px solid rgb(54,35,107);
    background-color: rgba(54,35,107, 0.7);
    color: white;
}